* {
    margin: 0;
    padding: 0;
}

/* general stylings */
:root {
    --primary-color: rgb(21, 21, 75);
    --secondary-color: white;
}

/* header stylings */
header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1%;

}